<h1> Add New Category</h1>
<%= form_for @category do |f| %>
<p>
	<%= f.label :name %><br />
	<%= f.text_field :name %><br />
</p>
Category<p><%= f.submit "Add Category" %></p>
<hr>
<% end %>
<%= link_to "Go Back", categories_path %>